body {
  background: #0d0b0bf7;
  opacity: 0;
  animation: homecome 5s forwards;
}

/* home fade in animation */
@keyframes homecome {
  0% {opacity: 0;}
  100% {opacity: 1;}
  
}

nav {
  background-color: #000;
  border-radius: 10px;
  align-items: center;
  width: 100%%;
  height: 35px;
  position: relative;
  padding: 10px;
  display: flex;
  box-shadow: 0 0 10px #00ff00, 0 0 30px #00ff00;
  
}

.homebutton {
  background: #000;
  color: #00ff00;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 8px;
  text-shadow: 0 0 10px #00ff00, 0 0 20px #00ff00
}

.aboutbutton {
  background: #000;
  color: #00ff00;
  position: absolute;
  top: 25%;
  left: 25%;
  transform: translateX(-50%);
  border-radius: 8px;
  text-shadow: 0 0 10px #00ff00, 0 0 20px #00ff00
}

.socialbutton {
  background: #000;
  color: #00ff00;
  position: absolute;
  top: 25%;
  left: 75%;
  transform: translateX(-50%);
  border-radius: 8px;
  text-shadow: 0 0 10px #00ff00, 0 0 20px #00ff00
}

.logo {
  width: 50px;
  height: auto;
}

.section {
  width: 80%px;
  height: auto;
  background-color: #000;
  border-radius: 10px;
  box-shadow: 0 0 10px #00ff00, 0 0 20px #00ff00;
  color: #25e625;
  text-shadow: 0 0 5px #00ff00, 0 0 10px #00ff00;
  text-align: center;
  
  
}

.image {
  width: 80%;
  border-radius: 10px;
  height: auto;
  
}

.contact {
  text-align: center;
  color: #00ff00;
  text-shadow: 0 0 10px #00ff00, 0 0 20px #00ff00;
}

.linked {
  color: #00ff00;
  justify-content: center;
  display: flex;
  align-content: center;
  gap: 30px;
  text-shadow: 0 0 10px #00ff00, 0 0 20px #00ff00;
  
}

.telegram {
  width: 30px;
  height: auto;
  align-items: center;
  cursor: pointer;
  border-radius: 25px;
  box-shadow: 0 0 10px #00ff00, 0 0 20px #00ff00;
  
}

.whatsapp {
  width: 30px;
  height: auto;
  cursor: pointer;
  border-radius: 25px;
  box-shadow: 0 0 10px #00ff00, 0 0 20px #00ff00;
  
}

.instagram {
  cursor: pointer;
  width: 30px;
  height: auto;
  border-radius: 25px;
  box-shadow: 0 0 10px #00ff00, 0 0 20px #00ff00;
  
}

.sectionbutton {
  background-color: #000;
  color: #00ff00;
  font-size: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px #00ff00, 0 0 15px #00ff00;
  
}

.h1 {
  text-align: center;
  border-radius: 10px;
  color: #00ff00;
  box-shadow: 0 0 10px #00ff00, 0 0 20px #00ff00;
}