body {
  background-color: #0d0b0bf7;
  opacity: 0;
  animation: social 5s forwards;
  
}

@keyframes social {
  0% { opacity: 0;}
  100% { opacity: 1;}
}

nav {
  background-color: #000;
  border-radius: 10px;
  align-items: center;
  width: 100%%;
  height: 35px;
  position: relative;
  padding: 10px;
  display: flex;
  box-shadow: 0 0 10px #00ff00, 0 0 30px #00ff00;
  
  
}

.homebutton {
  color: #00ff00;
  background-color: #000;       /* corrected */
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 10px;
  text-shadow: 0 0 10px #00ff00, 0 0 20px #00ff00;
  cursor: pointer;
}

.aboutbutton {
  color: #00ff00;
  background-color: #000;       /* corrected */
  position: absolute;
  top: 25%;
  left: 25%;
  transform: translateX(-50%);
  border-radius: 10px;
  text-shadow: 0 0 10px #00ff00, 0 0 20px #00ff00;
  cursor: pointer;
}

.socialbutton {
  color: #00ff00;
  background-color: #000;
  position: absolute;
  top: 25%;
  left: 75%;
  transform: translateX(-50%);
  border-radius: 10px;
  text-shadow: 0 0 10px #00ff00, 0 0 20px #00ff00;
  cursor: pointer;
}

.logo {
  width: 50px;
  height: auto;
}

.section {
  width: 80%px;
  height: auto;
  background-color: #000;
  border-radius: 10px;
  box-shadow: 0 0 10px #00ff00, 0 0 20px #00ff00;
  color: #25e625;
  text-shadow: 0 0 5px #00ff00, 0 0 10px #00ff00;
  text-align: center;
  
}

.h1 {
  text-align: center;
  border-radius: 10px;
  color: #00ff00;
  box-shadow: 0 0 10px #00ff00, 0 0 20px #00ff00;
}

.image {
  width: 80%;
  height: auto;
  border-radius: 10px;
}

.sectionbutton {
  color: #00ff00;
  border-radius: 10px;
  font-size: 20px;
  background-color: #000;
  box-shadow: 0 0 10px #00ff00, 0 0 20px #00ff00;
}

.telegram {
  width: 30px;
  height: auto;
  align-items: center;
  cursor: pointer;
  border-radius: 25px;
  box-shadow: 0 0 10px #00ff00, 0 0 20px #00ff00;
  
}

.whatsapp {
  width: 30px;
  height: auto;
  cursor: pointer;
  border-radius: 25px;
  box-shadow: 0 0 10px #00ff00, 0 0 20px #00ff00;
  
}

.instagram {
  cursor: pointer;
  width: 30px;
  height: auto;
  border-radius: 25px;
  box-shadow: 0 0 10px #00ff00, 0 0 20px #00ff00;
  
}


.contact {
  text-align: center;
  color: #00ff00;
  text-shadow: 0 0 10px #00ff00, 0 0 20px #00ff00;
}

.linked {
  color: #00ff00;
  justify-content: center;
  display: flex;
  align-content: center;
  gap: 30px;
  text-shadow: 0 0 10px #00ff00, 0 0 20px #00ff00;
  
}